body {
    background-color: #f8f9fa;
}
i.fas.fa-dice {
    font-size: 3rem;
    color: #476682;
}
nav.navbar.navbar-expand-lg.navbar-light{
    background: #fff159;/*#87BFAC*/
}
h3 {
    color: gray;
}
.btn-outline-info {
    color: #476582;
    border-color: #476582;
}

.navbar-light .navbar-nav .nav-link {
    color: #476582;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #395168;
}

ul.nav.justify-content-center {
    background-color: #E37B66;
}

a.nav-link {
    color: #ececec;
}

a:hover {
    color: #ffffff;
}

a.cont-img {
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 1rem;
    text-align: center;
}

.product-img {
    width: 50%;
}

/* .new-products {
    padding: 1rem 1rem;
} */

a.product-title {
    color: rgb(143, 143, 143);
}


.card {
    border: 1px solid rgb(221, 221, 221);
    padding: 2rem;
}

.card:hover {
    border: 1px solid rgb(212, 212, 212);
    transform: scale(1.05);
}


p.price {
    font-size: 20px;
    padding-top: 0.5rem;
}

.col-8 {
    border-right: 1px solid #e9ecef;
}

.products-title {
    background-color: #f8f9fa;
    padding: 0.5rem 2rem;
}

p.price-modal {
    font-size: 30px;
}

p#itemTitle {
    font-size: 20px;
}

.product-title {
    color: black;
    text-decoration: none;
}
.product-title:hover {
    text-decoration: none;
}

@media (min-width: 576px){
    .form-inline .form-control {
        display: inline-block;
        width: 24rem;
        vertical-align: middle;
    }
}
